In [2]:
import pandas as pd
import sqlalchemy as sa
from pandas.io import sql
import parquet as pq
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
new_schema = 'dataengineeringzoomcamp'

In [8]:
yellow_taxi_data = pd.read_parquet('yellow_tripdata_2021-01.parquet', engine='pyarrow')
yellow_taxi_data['passenger_count'] = yellow_taxi_data['passenger_count'].fillna(0)
yellow_taxi_data['passenger_count'] = yellow_taxi_data['passenger_count'].astype('int32')



engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:

schema = sql.get_schema(yellow_taxi_data, name='yellow_taxi_data', con=engine)
print(schema)

In [9]:
yellow_taxi_data.to_sql(name='yellow_taxi_data', con= engine, schema=new_schema, if_exists='replace',index=False)

769

In [4]:
green_taxi_data = pd.read_parquet('green_tripdata_2021-01.parquet', engine='pyarrow')
green_taxi_data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2021-01-01 00:15:56,2021-01-01 00:19:52,N,1.0,43,151,1.0,1.01,5.5,0.5,0.5,0.00,0.0,None,0.3,6.80,2.0,1.0,0.00
1,2,2021-01-01 00:25:59,2021-01-01 00:34:44,N,1.0,166,239,1.0,2.53,10.0,0.5,0.5,2.81,0.0,None,0.3,16.86,1.0,1.0,2.75
2,2,2021-01-01 00:45:57,2021-01-01 00:51:55,N,1.0,41,42,1.0,1.12,6.0,0.5,0.5,1.00,0.0,None,0.3,8.30,1.0,1.0,0.00
3,2,2020-12-31 23:57:51,2021-01-01 00:04:56,N,1.0,168,75,1.0,1.99,8.0,0.5,0.5,0.00,0.0,None,0.3,9.30,2.0,1.0,0.00
4,2,2021-01-01 00:16:36,2021-01-01 00:16:40,N,2.0,265,265,3.0,0.00,-52.0,0.0,-0.5,0.00,0.0,None,-0.3,-52.80,3.0,1.0,0.00

In [7]:


# Create the new schema if it doesn't exist
with engine.connect() as conn:
    conn.execute(f"CREATE SCHEMA IF NOT EXISTS {new_schema};")

# Generate the SQL schema for the new table within the new schema
schema_sql = pd.io.sql.get_schema(green_taxi_data, name='green_taxi_data', con=engine, schema=new_schema)
# print(schema_sql)

# Write data to the new schema
green_taxi_data.to_sql(name='green_taxi_data', con=engine, schema=new_schema, if_exists='replace', index=False)

518

In [6]:
schema2 = sql.get_schema(green_taxi_data, name='green_taxi_data', con=engine)

green_taxi_data.to_sql(name='green_taxi_data', con= engine, if_exists='replace',index=False)
print(schema2)

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee TEXT,
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [9]:
green_taxi_data.to_sql(name='green_taxi_data', con= engine, if_exists='replace',index=False)

518